@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}

#searchBox{
    width: 400px;
}
#searchMatches {
  position: absolute;
  width: 408px;
}
#searchMatches li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #eee;
  padding: 5px 0;
  cursor: pointer;
}
