@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}


body{
  background-image: url(./assets/leaves.webp);
}

#userSearchBox{
    
    justify-content: center;
}
#userSearchMatches {
  justify-content: center;
  /* position: absolute; */
}
#userSearchMatches li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #eee;
  padding: 5px 0;
  cursor: pointer;
}

#flightResults table{
  width: auto;
  border: 2px black solid;
  backdrop-filter: blur(6px);
}

#flightResults table th{
  border: 2px black solid
}

#flightResults table tr td {
  border: 2px black solid;
}