@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}

#userSearchBox{
    width: 400px;
}
#userSearchMatches {
  position: absolute;
  width: 408px;
}
#userSearchMatches li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #eee;
  padding: 5px 0;
  cursor: pointer;
}

#flightResults table{
  width: auto;
  border: 2px black solid;
}
